<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
	<contextName>Log</contextName>
	<property name="CHARSET" value="UTF-8" />
	<property name="PATTERN1" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger :%line - %msg%n" />
	<property name="PATTERN2" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger :%line - %msg%n" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN1}</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
	</appender>
	
	<appender name="serverLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>log/server.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<maxHistory>2</maxHistory>
			<maxFileSize>20MB</maxFileSize>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN2}</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="serverLog" />
	</root>

</configuration>